@import './toRem.styl'
.month-warp{
    .month_top{
        display: flex;
        font-size: toRem(20)
        width: 100%;
        li{
            box-sizing: border-box;
            width: 14.2%;
        }
    }
    .day_warp{
        margin-top: toRem(20)
        display: flex;
        flex-wrap: wrap
    }
    .day_warp>li{
        font-size: toRem(20)
        padding: toRem(4) toRem(6)
        box-sizing: border-box;
        width: 14.2%;
        height toRem(160);
        border-right: 1px solid #DADADA;
        border-top: 1px solid #DADADA;
    }
    .day_warp>li:nth-of-type(7n+0){
       background-color: #F5F5F5 
    }
    .day_warp>li:nth-of-type(7n+1){
        border-left: 1px solid #DADADA;
        background-color: #F5F5F5 
    }
    .day_warp>li:nth-child(29){
        border-bottom: 1px solid #DADADA;
    }
    .day_warp>li:nth-child(30){
        border-bottom: 1px solid #DADADA;
    }
    .day_warp>li:nth-child(31){
        border-bottom: 1px solid #DADADA;
    }
    .day_warp>li:nth-child(32){
        border-bottom: 1px solid #DADADA;
    }
    .day_warp>li:nth-child(33){
        border-bottom: 1px solid #DADADA;
    }
    .day_warp>li:nth-child(34){
        border-bottom: 1px solid #DADADA;
    }
    .day_warp>li:nth-child(35){
        border-bottom: 1px solid #DADADA;
    }
    .date_content{
        display: flex;
        justify-content: space-between;
    }
    .date_content>p:first-child{
        font-size toRem(16)
    }
    .nongLi{
        font-size toRem(10)
        color: #B2B7BF
    }
}